selenium
webdriver-manager
beautifulsoup4
requests
lxml
flask
flask_cors
python-dotenv
langgraph
langchain_community
langchain_experimental
langmem
langchain-google-genai
tavily-python
langchainhub
faiss-cpu
sentence-transformers
pypdf
guardrails-ai
langchain-google-genai
presidio-analyzer[transformers]
presidio-anonymizer
spacy
pinecone
langchain_pinecone
tavily-python